div.code-toolbar {

  >.toolbar {
    display: flex;
    width: 100%;
    top: 0.3em;
    left: 0;
    right: 0;
    padding: 0rem 1em;
    opacity: 1;


    &>.toolbar-item:last-child {
      margin-left: auto;
      opacity: 0;
    }

  }

  &:hover>.toolbar>.toolbar-item:last-child {
    opacity: 1;
  }
}

pre[class*="language-"] {
  border-radius: 8px;
}
