# Dockerfile will ignore these files and directories when performing commands 
# like ADD and COPY

.dockerignore
.git
.gitignore
README.md
.editorconfig
LICENSE

__pycache__/
.venv/
.vscode/
sql/
nginx/
.github/
.mypy_cache
