.btn {
  --cursus-btn-bg: #555;
  --cursus-btn-text: #eee;
  --cursus-btn-bg-opacity: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 12px 30px;
  margin: 0.3125rem 1px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;

  background: rgb(var(--cursus-btn-bg) / var(--cursus-btn-bg-opacity));
  color: rgb(var(--cursus-btn-text) / 1);
}

.btn, .btn--default {
  --cursus-btn-bg: #555;
  --cursus-btn-text: #eee;
}

.btn--primary {
  --cursus-btn-bg: #007bff;
  --cursus-btn-text: #fff;
}

.btn--secondary {
  --cursus-btn-bg: 200 211 254;
  --cursus-btn-text: 77 69 230;
}

.btn--fluid {
  width: 100%;
}

.btn--round {
  border-radius: 9999px;
}
