.footer {
  position: relative;
  z-index: 100;
  margin-top: 5rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  font-size: var(--cursus-font-lg, 1.25rem);
  background: rgb(var(--cursus-color-primary) / 1);
  color: white;
}

.footer__legality {
  display: flex;
  justify-content: center;
}

.footer__title {
  text-align: center;
}

.footer__legality-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;

}

.footer__legality-link {
  text-decoration: none;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  border-bottom: 1px solid transparent;
}

.footer__legality-link:hover {
  border-bottom: 1px solid white;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1024px)  {
  .footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .footer__title {
    text-align: left;
  }

  .footer__legality {
  }

  .footer__legality-wrapper {
    margin-left: auto
  }
}
