.footer {
  position: relative;
  z-index: 100;
  margin-top: 5rem;

  padding-top: 2rem;
  padding-bottom: 2rem;

  font-size: var(--cursus-font-lg, 1.25rem);
  background: rgb(var(--cursus-color-primary) / 1);
  color: white;
}

.footer__legality {
  display: flex;
}

.footer__legality-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;

  margin-left: auto
}

.footer__legality-link {
  text-decoration: none;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  border-bottom: 1px solid transparent;
}

.footer__legality-link:hover {
  border-bottom: 1px solid white;
}
