.login__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 11.75rem); /* minus navbar height + footer height */
  margin-left: 1rem;
  margin-right: 1rem;
}

.login__heading {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 900;
}

.login__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 640px;
  border-radius: 1.5rem;
  border: 1px solid rgb(var(--cursus-color-primary) / 0.5);

  padding: 1rem;
}

.login__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0.75rem;
  border: none;
  background: rgb(var(--cursus-color-primary));
  color: white;
  cursor: pointer;
  gap: 0.375rem;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.login__btn:hover {
  background: rgb(var(--cursus-color-primary) / 0.9);
}

.login__btn.login__btn--google {
  background: white;
  color: black;
  border: 1px solid #bbb;
}

.login__btn.login__btn--google:hover {
  background: #f2f2f2;
}

.login__btn.login__btn--discord {
  background: rgb(89, 102, 243);
  color: white;
}

.login__btn.login__btn--discord:hover {
  background: rgb(74, 87, 238);
}

.login__btn.login__btn--github {
  background: rgb(0, 3, 51);
  color: white;
}

.login__btn.login__btn--github:hover {
  background: rgb(30, 33, 66);
  color: white;
}

@media screen and (min-width: 768px) {
  .login__section {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .login__container {
    padding: 1.5rem;
    border-radius: 1.75rem;
  }

  .login__heading {
    font-size: 4rem;
  }

  .login__btn {
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .login__section {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .login__container {
    padding: 2rem;
    border-radius: 2rem;
  }

  .login__heading {
    font-size: 5rem;
  }

  .login__btn {
    gap: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
