.navbar {
  z-index: 9999;
  position: fixed;
  width: 100%;

  background-color: rgb(var(--cursus-color-white) / 1);
  height: 72px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(var(--cursus-color-black) / 0.1);
}

.navbar__wrapper {
  max-width: 640px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--cursus-gutter-16, 4rem);
  height: 100%;
}

.navbar__brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--cursus-gutter-2, 0.5rem);
}

.navbar__brand-logo {
  width: 1.5rem;
  height: 1.5rem;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.navbar__brand-text {
  font-size: var(--cursus-font-xl, 1.5rem);
  font-weight: var(--cursus-font-black, 600);
  line-height: 1.5;
  text-transform: uppercase;
}

.navbar__collapse {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.navbar__collapse-right,
.navbar__collapse-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--cursus-gutter-12, 3rem);
}

.navbar__link {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: var(--cursus-font-normal, 500);
}

.navbar__link:hover {
  color: rgb(var(--cursus-color-primary) / 1);
}

.navbar__link--state-active {
  font-weight: var(--cursus-font-bold, 700);

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(var(--cursus-color-primary) / 1);
}

.navbar__pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--cursus-gutter-2, 0.5rem);

  padding-top: var(--cursus-gutter-2, 0.5rem);
  padding-bottom: var(--cursus-gutter-2, 0.5rem);
  padding-left: var(--cursus-gutter-4, 1rem);
  padding-right: var(--cursus-gutter-4, 1rem);

  border-radius: 9999px;
  background-color: rgb(var(--cursus-color-primary) / 1);
  color: var(--cursus-color-whit, white);
}

.navbar__pill:hover {
  background-color: rgb(var(--cursus-color-primary--hover) / 1);
}

.navbar__dropdown {
  position: relative;
  display: block;

  margin-left: auto;
  background: transparent;
  cursor: pointer;
}

.navbar__dropdown__btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 100;

  padding: 1rem;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.navbar__dropdown[aria-expanded="true"] .navbar__dropdown__btn,
.navbar__dropdown__btn:hover {
  background: rgb(var(--cursus-color-primary--hover) / 0.1);
}

.navbar__dropdown__btn i {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  pointer-events: none; /* https://stackoverflow.com/a/57101211/12915739 */
}

.navbar__dropdown__menu {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 220px;
  margin-top: 8px;
  padding: 0.5rem;
  border-radius: 6px;
  background: rgb(var(--cursus-color-white) / 1);
  border: 1px solid rgb(var(--cursus-color-black) / 0.1);
  box-shadow: 0 0 0 1px rgb(var(--cursus-color-black) / 0.1), 0 4px 11px rgb(var(--cursus-color-black) / 0.18);

  transform: translateY(0.5rem);
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  -webkit-transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  -moz-transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  -o-transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.navbar__dropdown__menu.dropdown--show {

  transform: translateY(0rem);
  opacity: 1;
}

.navbar__dropdown-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;

  gap: var(--cursus-gutter-1, 0.25rem);
}

.navbar__dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  gap: var(--cursus-gutter-2, 0.5rem);
  list-style: none;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 6px;
  background: transparent;
}

.navbar__dropdown-item:hover {
  background: rgb(var(--cursus-color-primary--hover) / 0.1);
}

.navbar__dropdown-item__icon {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
}

/* About icon styling */
.navbar__dropdown-item__icon.fi-sr-info {
  color: #0ea5e9;
}

/* Docs icon styling */
.navbar__dropdown-item__icon.fi-sr-circle-book-open {
  color: #f5a623;
}

/* Demo icon styling */
.navbar__dropdown-item__icon.fi-sr-display-code {
  color: #a3e635;
}

.navbar__dropdown-separator {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: rgb(var(--cursus-color-black) / 0.2);
}

.navbar__dropdown-btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .navbar__wrapper {
    max-width: 768px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .navbar__wrapper {
    max-width: 1024px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .navbar__collapse, 
  .navbar__collapse-left, 
  .navbar__collapse-right,
  .navbar__link {
    display: flex;
    height: 100%;
  }

  .navbar__dropdown {
    display: none;
  }
}

