/* Button element to initiate an action on a page or a component */

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  min-width: max-content;
  padding: 0rem 0.75rem;
  height: 2rem;
  gap: 0.25rem;
  border-radius: 6px;
  border: 1px solid;
  border-color: #eee;
  background-color: initial;

  /* Primary button: .btn--primary
   * Emphasize on background color with a color-contrast text
   */
  &--primary {
    background-color: rgb(var(--color-cursus) / 1);
    border-color: rgb(var(--color-indigo-600) / 1);
    color: rgb(var(--color-white) / 1);

    &:hover {
      background-color: rgb(var(--color-indigo-600) / 1);
      border-color: rgb(var(--color-indigo-700) / 1);
    }

    &.btn--cursus {
      background-color: rgb(var(--color-cursus) / 1);
      border-color: rgb(var(--color-indigo-600) / 1);
      color: rgb(var(--color-white) / 1);

      &:hover {
        background-color: rgb(var(--color-indigo-600) / 1);
        border-color: rgb(var(--color-indigo-700) / 1);
      }
    }

    &.btn--neutral {
      background-color: rgb(var(--color-gray-50) / 1);
      border-color: rgb(var(--color-gray-100) / 1);
      color: rgb(var(--color-gray-900) / 1);

      &:hover {
        background-color: rgb(var(--color-gray-100) / 1);
        border-color: rgb(var(--color-gray-200) / 1);
        color: rgb(var(--color-black) / 1);
      }
    }

    &.btn--accent {
      background-color: rgb(var(--color-blue-500) / 1);
      border-color: rgb(var(--color-blue-600) / 1);
      color: rgb(var(--color-white) / 1);

      &:hover {
        background-color: rgb(var(--color-blue-600) / 1);
        border-color: rgb(var(--color-blue-700) / 1);
      }
    }

    &.btn--danger {
      background-color: rgb(var(--color-red-500) / 1);
      border-color: rgb(var(--color-red-600) / 1);
      color: rgb(var(--color-white) / 1);

      &:hover {
        background-color: rgb(var(--color-red-600) / 1);
        border-color: rgb(var(--color-red-700) / 1);
      }
    }
  }

  /* Secondary button: .btn--secondary
   * Emphasize on text color with a lighter background
   */
  &--secondary {
    background-color: rgb(var(--color-gray-100) / 1);
    color: rgb(var(--color-gray-500) / 1);
    border-color: rgb(var(--color-gray-200) / 1);

    &:hover {
      background-color: rgb(var(--color-gray-200) / 1);
      border-color: rgb(var(--color-gray-300) / 1);
    }

    &.btn--cursus {
      background-color: rgb(var(--color-indigo-50) / 1);
      color: rgb(var(--color-cursus) / 1);
      border-color: rgb(var(--color-indigo-100) / 1);

      &:hover {
        background-color: rgb(var(--color-indigo-100) / 1);
        border-color: rgb(var(--color-indigo-200) / 1);
      }
    }

    &.btn--accent {
      background-color: rgb(var(--color-blue-50) / 1);
      color: rgb(var(--color-blue-500) / 1);
      border-color: rgb(var(--color-blue-100) / 1);

      &:hover {
        background-color: rgb(var(--color-blue-100) / 1);
        border-color: rgb(var(--color-blue-200) / 1);
      }
    }

    &.btn--danger {
      background-color: rgb(var(--color-red-50) / 1);
      color: rgb(var(--color-red-500) / 1);
      border-color: rgb(var(--color-red-100) / 1);

      &:hover {
        background-color: rgb(var(--color-red-100) / 1);
        border-color: rgb(var(--color-red-200) / 1);
      }
    }
  }

  /* Outline button: .btn--outline
   * Emphasize on border color with a transparent background
   */
  &--outline {
    background-color: transparent;
    color: rgb(var(--color-gray-500) / 1);
    border-color: rgb(var(--color-gray-200) / 1);

    &:hover {
      border-color: rgb(var(--color-gray-300) / 1);
    }

    &.btn--cursus {
      color: rgb(var(--color-indigo-500) / 1);
      border-color: rgb(var(--color-indigo-500) / 1);

      &:hover {
        border-color: rgb(var(--color-indigo-600) / 1);
        color: rgb(var(--color-indigo-600) / 1);
      }
    }
  }

  &--disabled {
    cursor: not-allowed;
  }

  &--rounded {
    border-radius: 9999px;
  }

  &.btn--icon {
    height: 2rem;
    width: 2rem;
    padding: 0rem;
  }

  &--large {
    height: 2.5rem;
    padding: 0rem 1rem;
    gap: 0.5rem;

    &.btn--icon {
      height: 2.5rem;
      width: 2.5rem;
      padding: 0rem;

      &>i,
      &>svg {
        font-size: 1.25rem;
      }
    }
  }

  &--xl {
    height: 3rem;
    padding: 0rem 1.5rem;
    gap: 0.75rem;


    &.btn--icon {
      height: 3rem;
      width: 3rem;
      padding: 0rem;

      &>i,
      &>svg {
        font-size: 1.5rem;
      }
    }
  }

  &--fluid {
    width: 100%;
  }
}
