.heading {
  scroll-margin-top: 88px; // Skip the height of the navbar (72px) + 16px of padding
  padding-inline-end: 1em;

  &--h1 {
    line-height: 1.25;
    font-weight: 700;
    font-size: 40px;
    overflow-wrap: break-word;
    margin-top: 0;
  }

  &__anchor {
    opacity: 0;
    display: inline-block;

    &>svg {
      width: 1.25rem;
      height: 1.25rem;
      display: inline;
      visibility: hidden;
      margin-inline-start: 0.5rem;
      vertical-align: middle;
    }
  }

  &:hover>&__anchor {
    opacity: 1;
  }

  &:hover>&__anchor>svg {
    visibility: visible;
  }
}
