.docs {
  &__banner {
    position: relative;

    margin-left: auto;
    margin-right: auto;

    padding-top: var(--cursus-gutter-20, 5rem);
    padding-bottom: var(--cursus-gutter-20, 5rem);

    &__heading {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__text {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--cursus-font-serif);

      max-width: 640px;

      font-size: 3rem;
      font-weight: var(--cursus-font-black, 900);

      @include breakpoint(md) {
        font-size: 4rem;
      }

      @include breakpoint(lg) {
        font-size: 5rem;
      }


    }

    &__sub-text {
      position: relative;
      z-index: 1;
      text-align: center;

      max-width: 768px;

      font-size: 16px;
      font-weight: var(--cursus-font-bold, 600);
      color: rgb(var(--cursus-color-black) / 0.6);

      @include breakpoint(md) {
        font-size: 18px
      }

      @include breakpoint(lg) {
        font-size: 20px;
      }
    }

    &__image {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -10;

      height: 330px;

      display: flex;
      justify-content: center;

      & img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
      }

      @include breakpoint(md) {
        height: 345px;
      }

      @include breakpoint(lg) {
        height: 360px;
      }
    }
  }




  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: relative;
    background: rgb(var(--cursus-color-white));
    border-radius: 0.5rem;
    box-shadow: 0 0 0 1px rgb(var(--cursus-color-black) / 0.1),
      0 2px 4px rgb(var(--cursus-color-black) / 0.1);
    padding: 2rem;
    transition: all 0.2s ease-in-out;

    width: 100%;
    height: 100%;

    &:hover {
      box-shadow: 0 0 0 1px rgb(var(--cursus-color-black) / 0.25),
        0 8px 12px rgb(var(--cursus-color-black) / 0.25);
      transform: translateY(-4px);
    }

    &-container {

      position: relative;
      z-index: 1;
      display: grid;

      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;

      max-width: 1024px;
      width: 100%;

      margin-left: auto;
      margin-right: auto;
      padding-left: 2rem;
      padding-right: 2rem;


      @include breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoint(lg) {
        grid-template-columns: repeat(3, 1fr);
      }

    }

    &__header {
      display: flex;

      align-items: center;
      gap: 1rem;

      margin-bottom: 2rem;

      &>i[class^="fi"] {
        display: inline-flex;
        align-self: center;
      }

      &>i[class^="fi"]::before {
        font-size: 24px;
        color: rgb(var(--cursus-color-primary) / 1);

        @include breakpoint(md) {
          font-size: 22px;
        }

        @include breakpoint(lg) {
          font-size: 20px;
        }
      }

      &>h2 {
        font-size: 32px;
        font-weight: var(--cursus-font-bold, 800);
        line-height: 1.5;

        color: rgb(var(--cursus-color-primary) / 1);

        @include breakpoint(md) {
          font-size: 28px;
        }

        @include breakpoint(lg) {
          font-size: 24px;
        }
      }
    }

    &>p,
    &__content {
      font-size: 20px;
      color: rgb(var(--cursus-color-black) / 0.6);

      @include breakpoint(md) {
        font-size: 18px;
      }

      @include breakpoint(lg) {
        font-size: 16px;
      }
    }
  }


  &__breadcrumb {
    width: 100%;
    margin-top: 3rem;

    &__container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      margin-bottom: 2rem;
    }

    &__container>a,
    &__link {
      font-weight: var(--cursus-font-bold, 800);
      color: rgb(var(--cursus-color-primary) / 1);
      padding-top: 8px;
      padding-bottom: 8px;

      transition: all 0.2s ease-in-out;
      border-bottom: 2px solid transparent;
    }

    &__container>a:hover,
    &__link:hover {
      border-bottom: 2px solid rgb(var(--cursus-color-primary) / 1);
    }

    &__separator {
      font-size: 20px;
    }
  }

  &__display {
    font-size: 18px;

    & a:not(.heading__anchor) {
      font-weight: 600;

      transition: all 0.2s ease-in-out;
      border-bottom-color: rgb(var(--color-cursus) / 0.25);
      border-bottom-style: solid;
      border-bottom-width: 2px;

      &:hover {
        border-bottom-color: rgb(var(--color-cursus) / 1);
      }
    }

    &>ul {
      list-style-type: disc;
      margin-inline-start: 1.5rem;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;

      &>li {
        line-height: 1.625;
        margin-bottom: 0.75rem;
      }
    }

    &>p {
      line-height: 1.625;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    & code.inline {
      padding: 0.25rem 0.5rem;
      background: rgb(var(--cursus-color-black) / 0.05);
      color: rgb(var(--color-gray-700) / 1);
      border-radius: 12px;
    }
  }
}
