.profile {
  position: relative;
  background: rgb(var(--color-gray-100) / 0.75);
  min-height: calc(100vh - 11.75rem); // minus navbar height + footer height

  &__sticky-nav {

    background-color: rgb(var(--color-white) / 1);
    box-shadow: 0 0.5rem 1rem rgb(var(--color-black) / 0.15);

    padding: 1rem;
    border-radius: 12px;

    @include breakpoint(lg) {
      position: sticky;
      top: 88px;
      z-index: 1;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    list-style: none;

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      background: transparent;
      transition: background 0.1s ease-in-out;
      font-size: 14px;

      &:hover {
        background: rgb(var(--color-gray-100) / 1);
      }

      &.profile--active::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 0.25rem;
        height: 80%;
        background: rgb(var(--color-cursus) / 1);
        border-radius: 6px 8px 8px 6px;
        transform: translateY(-50%);
      }
    }
  }

  &__info {
    position: relative;
    display: flex;
    gap: 2rem;
    background-color: rgb(var(--color-white) / 1);
    box-shadow: 0 0.5rem 1rem rgb(var(--color-black) / 0.15);

    padding: 1rem 2rem;

    border-radius: 12px;
  }

  &__img {
    width: 4rem;
    height: 4rem;
    font-size: 1rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;

    &>img {
      width: 100%;
      border-radius: 0.75rem;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
  }

  &__fullname {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
  }

  &__detail {
    position: relative;

    background-color: rgb(var(--color-white) / 1);
    box-shadow: 0 0.5rem 1rem rgb(var(--color-black) / 0.15);

    padding: 2rem;
    border-radius: 12px;
  }

  &__form-input {
    position: relative;
    display: flex;
    max-width: 100%;

    background: rgb(var(--color-gray-100) / 1);

    border-radius: 8px;
  }

  &__display {
    position: relative;
    display: flex;
    align-items: center;

    color: rgb(var(--color-gray-400) / 1);

    padding: 0.5rem 1rem;
    width: calc(100% - 2rem);
    border: 1px solid rgb(var(--color-gray-200) / 1);
    border-right-color: transparent;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    &>p {
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  &__tooltip {
    display: none;
    position: absolute;
    top: -75%;
    left: 50%;

    transform: translateX(-50%);
    z-index: 1;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;

    background: rgb(var(--color-white) / 1);
    border: 1px solid rgb(var(--color-gray-200) / 1);

    &-text {
      font-size: 13px;
      line-height: 1;
      font-weight: 700;
      color: rgb(var(--color-gray-800) / 1);
    }

    &.profile--copied {
      display: block;
    }
  }

  &__action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0.5rem 0.5rem;
    border: 1px solid rgb(var(--color-gray-200) / 1);

    &:hover {
      background: rgb(var(--color-gray-200) / 1);
      border-color: rgb(var(--color-gray-400) / 1);
    }



    &__btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
    }

    &__btn i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center;

      display: block;
      width: 1rem;
      height: 1rem;
      transition: all 0.1s ease-in-out;
    }

    &__btn .fi-rr-clipboard {
      opacity: 1;
      scale: 100%;
    }

    &__btn .fi-rr-check {
      opacity: 0;
      scale: 50%;
    }

    &__btn.profile--success .fi-rr-check {
      display: block;
      color: rgb(var(--color-green-500) / 1);
      opacity: 1;
      scale: 100%;
    }

    &__btn.profile--success .fi-rr-clipboard {
      opacity: 0;
      scale: 50%;
    }

    &__message {
      position: relative;
      font-size: 14px;


      // For vertical ellipsis
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      & .profile--danger {
        color: rgb(var(--color-red-500) / 1);
      }

      & .profile--success {
        color: rgb(var(--color-green-500) / 1);
      }
    }

  }

  &__spa {
    position: relative;
    display: flex;
    flex-direction: column;

    padding-bottom: 1rem;

    &>h2 {
      margin-bottom: 0.5rem;
    }

    &>p {
      margin-bottom: 1.5rem;
    }

    &>div {
      margin-bottom: 1rem;
    }

    &>pre {
      margin-bottom: 1rem;
      white-space: pre-wrap;

      position: relative;
      display: block;
      padding: 1rem;
      border-radius: 12px;

      background-color: rgb(var(--color-gray-50) / 1);
    }
  }
}
