{% macro footer() -%}
<footer class="footer">
  <div class="container-sm container-md container-lg">
    <div class="row items-center gap-3 gap-lg-0">
      <div class="col-12 col-lg-6">
        <p class="footer__title">Made with ❤️ by Richard Nguyen</p>
      </div>
      <div class="col-12 col-lg-6">
        <div class="footer__legality">
          <div class="footer__legality__wrapper">
            <a class="footer__legality__link" href="{{ url_for('views.show', page_name='privacy')}}">Privacy</a>
            <a class="footer__legality__link" href="#">Terms</a>
            <a class="footer__legality__link" href="#">Contact</a>
            <a class="footer__legality__link" href="#">FAQ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{%- endmacro %}
