{% macro navbar(page_name='') -%}
<div class="navbar">
  <div
    class="container-md container-lg display-flex items-center h-full gap-md-8 gap-lg-12"
  >
    <a
      class="navbar__brand"
      href="{{ url_for('views.show', page_name='index') }}"
    >
      <img
        class="navbar__brand__logo"
        src="/static/img/logo-180.png"
        alt="Cursus"
      />
      <p class="navbar__brand__text">Cursus</p>
    </a>
    <div class="navbar__collapse">
      <div class="navbar__collapse-left">
        <a
          class="navbar__link{% if page_name == 'about' %} navbar__link--active{% endif %}"
          href="{{ url_for('views.show', page_name='about') }}"
          >About</a
        >
        <a
          class="navbar__link{% if page_name == 'docs' %} navbar__link--active{% endif %}"
          href="{{ url_for('views.docs.show_main_doc') }}"
          >Docs</a
        >
        <a
          class="navbar__link{% if page_name == 'demo' %} navbar__link--active{% endif %}"
          href="{{ url_for('views.show', page_name='demo') }}"
          >Demo</a
        >
      </div>
      <div class="navbar__collapse-right">
        {% if current_user.is_authenticated %}
        <a
          class="btn btn--large btn--primary btn--rounded btn--cursus"
          href="{{ url_for('views.profile') }}"
        >
          Profile
        </a>
        <a
          class="btn btn--outline btn--cursus btn--rounded btn--large"
          href="{{ url_for('logout') }}"
        >
          Logout
        </a>
        <div class="navbar__avatar">
          <div class="navbar__avatar__container">
            <img class="navbar__avatar__image" width="32" height"32" src="{{
            current_user.image }}" alt="{{ current_user.name }}"/>
          </div>
        </div>
        {% else %}
        <a
          class="btn btn--rounded btn--primary btn--large"
          href="{{ url_for('views.show', page_name='login') }}"
        >
          Login
        </a>
        {% endif %}
      </div>
    </div>
    <div
      id="navbarDropdown"
      class="dropdown navbar__dropdown"
      aria-expanded="false"
    >
      <button type="button" class="dropdown__btn navbar__dropdown__btn">
        <i class="fi fi-rr-menu-burger"></i>
      </button>
      <div class="dropdown__menu navbar__dropdown__menu">
        <ul class="navbar__dropdown__list">
          <li>
            <a
              class="navbar__dropdown__item"
              href="{{ url_for('views.show', page_name='about') }}"
            >
              <i class="navbar__dropdown__item__icon fi fi-sr-info"></i>
              <p>About</p></a
            >
          </li>
          <li>
            <a
              class="navbar__dropdown__item"
              href="{{ url_for('views.show', page_name='docs') }}"
            >
              <i
                class="navbar__dropdown__item__icon fi fi-sr-circle-book-open"
              ></i>
              <p>Docs</p></a
            >
          </li>
          <li>
            <a
              class="navbar__dropdown__item"
              href="{{ url_for('views.show', page_name='demo') }}"
            >
              <i class="navbar__dropdown__item__icon fi fi-sr-display-code"></i>
              <p>Demo</p></a
            >
          </li>
        </ul>
        <hr class="navbar__dropdown__separator" />
        <a
          href="{{ url_for('views.show', page_name='login') }}"
          class="btn btn--fluid btn--round btn--primary navbar__dropdown-btn"
        >
          {% if current_user.is_authenticated %} Logout {% else %} Login {%
          endif %}
        </a>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
