{% macro navbar(page_name='') -%}
<div class="navbar">
  <div class="navbar__wrapper">
    <a
      class="navbar__brand"
      href="{{ url_for('views.show', page_name='index') }}"
    >
      <img
        class="navbar__brand-logo"
        src="/static/img/logo-180.png"
        alt="Cursus"
      />
      <p class="navbar__brand-text">Cursus</p>
    </a>
    <div class="navbar__collapse">
      <div class="navbar__collapse-left">
        <a
          class="navbar__link{% if page_name == 'about' %} navbar__link--state-active{% endif %}"
          href="{{ url_for('views.show', page_name='about') }}"
          >About</a
        >
        <a
          class="navbar__link{% if page_name == 'docs' %} navbar__link--state-active{% endif %}"
          href="{{ url_for('views.show', page_name='docs') }}"
          >Docs</a
        >
        <a
          class="navbar__link{% if page_name == 'demo' %} navbar__link--state-active{% endif %}"
          href="{{ url_for('views.show', page_name='demo') }}"
          >Demo</a
        >
      </div>
      <div class="navbar__collapse-right">
        <a
          class="navbar__pill"
          href="{{ url_for('views.show', page_name='login') }}"
        >
          {% if current_user.is_authenticated %} Logout {% else %} Login {%
          endif %}
        </a>
      </div>
    </div>
    <div
      id="navbarDropdown"
      class="dropdown navbar__dropdown"
      aria-expanded="false"
    >
      <button type="button" class="dropdown__btn navbar__dropdown__btn">
        <i class="fi fi-rr-menu-burger"></i>
      </button>
      <div class="dropdown__menu navbar__dropdown__menu">
        <ul class="navbar__dropdown-list">
          <li>
            <a
              class="navbar__dropdown-item"
              href="{{ url_for('views.show', page_name='about') }}"
            >
              <i class="navbar__dropdown-item__icon fi fi-sr-info"></i>
              <p>About</p></a
            >
          </li>
          <li>
            <a
              class="navbar__dropdown-item"
              href="{{ url_for('views.show', page_name='docs') }}"
            >
              <i
                class="navbar__dropdown-item__icon fi fi-sr-circle-book-open"
              ></i>
              <p>Docs</p></a
            >
          </li>
          <li>
            <a
              class="navbar__dropdown-item"
              href="{{ url_for('views.show', page_name='demo') }}"
            >
              <i class="navbar__dropdown-item__icon fi fi-sr-display-code"></i>
              <p>Demo</p></a
            >
          </li>
        </ul>
        <hr class="navbar__dropdown-separator" />
        <a
          href="{{ url_for('views.show', page_name='login') }}"
          class="btn btn--fluid btn--round btn--primary navbar__dropdown-btn"
        >
          {% if current_user.is_authenticated %} Logout {% else %} Login {%
          endif %}
        </a>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
