{% extends "_base.html" %}
{% block title %}Profile{% endblock %} 

{% block main%} 
{{ super() }}
<div class="profile">
  <div class="container-sm container-md container-lg py-8">
    <div class="display-flex flex-col flex-lg-row gap-8">
      <div class="col-lg-3">
        <div class="profile__sticky-nav">
          <ul class="profile__nav">
            <li>
              <a
                id="profile-link"
                href="javascript:void(0)"
                class="profile__nav-item"
              >
                <i class="fi fi-sr-user"></i>
                <p>Account</p>
              </a>
            </li>
            <li>
              <a
                id="profile-token"
                href="javascript:void(0)"
                class="profile__nav-item"
              >
                <i class="fi fi-rr-code-simple"></i>
                <p>Tokens</p>
              </a>
            </li>
            <li>
              <a
                id="profile-history"
                href="javascript:void(0)"
                class="profile__nav-item"
              >
                <i class="fi fi-rr-time-forward"></i>
                <p>History</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="profile__info w-full">
          <div
            class="display-flex flex-col gap-6 flex-md-row items-md-center gap-md-0 w-full"
          >
            <div class="display-flex items-center gap-6">
              <div class="profile__img">
                <img src="{{ current_user.image }}" alt="avatar" />
              </div>
              <div class="profile__heading">
                <div class="profile__name">
                  <h1 class="profile__fullname">{{ current_user.name }}</h1>
                  <p class="profile__username">{{ current_user.email }}</p>
                </div>
              </div>
            </div>
            <button
              type="button"
              class="btn btn--primary btn--neutral btn--large ml-md-auto"
            >
              <i class="fi fi-rr-pencil"></i>
              Edit Profile
            </button>
          </div>
        </div>
        <div class="profile__spa mt-8">{{ sub_page }}</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
