{% extends "_base.html" %} {% block title %}Campuses - Docs{% endblock %} {%
block css %} {{ super() }}
<link rel="stylesheet" href="/static/css/_docs.css" />
{% endblock %} {% block main %} {{ super() }}
<div class="docs__banner">
  <div class="docs__banner__heading">
    <h1 class="docs__banner__text">Campuses</h1>
  </div>
  <div class="docs__banner__image">
    <img
      src="/static/img/docs-campus-banner.png"
      width="1440"
      height="360"
      alt="Campus doc banner"
    />
  </div>
</div>
<section class="container-sm container-md container-lg mb-24">
  <div class="docs__breadcrumb">
    <div class="docs__breadcrumb__container">
      <a href="/" class="docs__breadcrumb__link">Home</a>
      <p class="docs__breadcrumb__separator">/</p>
      <a href="/docs" class="docs__breadcrumb__link">Docs</a>
      <p class="docs__breadcrumb__separator">/</p>
      <p>Campus</p>
    </div>
  </div>
</section>
{% endblock %}
