{% extends "_base.html" %} {% block title %}Search - Docs{% endblock %} {% block
main %} {{ super() }} {% from "macros/heading1.html" import heading1 with
context %}
<div class="docs__banner">
  <div class="docs__banner__heading">
    <h1 class="docs__banner__text">Search</h1>
  </div>
  <div class="docs__banner__image">
    <img
      src="/static/img/docs-search-banner.png"
      width="1440"
      height="360"
      alt="Search doc banner"
    />
  </div>
</div>
<section class="container-sm container-md container-lg mb-24">
  <div class="docs__breadcrumb">
    <div class="docs__breadcrumb__container">
      <a href="/" class="docs__breadcrumb__link">Home</a>
      <p class="docs__breadcrumb__separator">/</p>
      <a href="/docs" class="docs__breadcrumb__link">Docs</a>
      <p class="docs__breadcrumb__separator">/</p>
      <p>Search</p>
    </div>
  </div>
  {{ heading1("search", "Search for universities")}}
</section>
{% endblock %}
