{% extends "_base.html" %} {% block title %}Home{% endblock %} {% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/_hero.css" />
{% endblock %} {% block main %} {{ super() }}
<section class="hero__section">
  <div class="hero__banner">
    <img
      class="hero__banner-image"
      src="/static/img/logo-text-256.png"
      alt="Logo banner"
    />
    <div class="hero__banner-text">
      A public API for universities and courses data
    </div>
  </div>
</section>
<div class="hero__card">
  <img
    class="hero__card__dot-1"
    src="/static/img/dot-grid-512.png"
    alt="dot-grid-512"
  />
  <div class="hero__content">
    <h1 class="hero__heading-1">About</h1>
    <p class="hero__paragraph">
      This is a public API that allows you to query for universities and courses
      information. The database provides information over 1000 universities
      globally.
    </p>
  </div>
</div>
{% endblock %}
