{% extends "_base.html" %} 
{% block title %}Login{% endblock %}

{% block main %}
{{ super() }}
<section class="login__section">
  <h1 class="login__heading">Login</h1>
  <div class="login__container">
    <a
      href="{{ url_for('oauth.authorize', provider='google', next=next) }}"
      class="login__btn login__btn--google"
    >
      <img
        src="{{ url_for('get_image', filename='google-g-logo.svg') }}?v={{ content_hash_for_image('google-g-logo.svg') }}"
        alt="Google Logo"
        class="login__btn-img"
      />
      <p class="login__btn-text">Login with Google</p>
    </a>
    <a
      href="{{ url_for('oauth.authorize', provider='github', next=next) }}"
      class="login__btn login__btn--github"
    >
      <img
        src="{{ url_for('get_image', filename='github-mark-white.svg') }}?v={{ content_hash_for_image('github-mark-white.svg') }}"
        alt="GitHub Logo"
        class="login__btn-img"
      />
      <p class="login__btn-text">Login with GitHub</p>
    </a>
    <a
      href="{{ url_for('oauth.authorize', provider='discord', next=next) }}"
      class="login__btn login__btn--discord"
    >
      <img
        src="{{ url_for('get_image', filename='discord-clyde-logo.svg') }}?v={{ content_hash_for_image('discord-clyde-logo.svg') }}"
        alt="GitHub Logo"
        class="login__btn-img"
      />
      <p class="login__btn-text">Login with Discord</p>
    </a>
  </div>
</section>
{% endblock %}
